/*
*	ArraysAtOne Capstone 2018 - Maple Leaf Foods
*
*	Kevin Baumgartner
*	Jesse Berube
*	Marc Harquail
*	Alex Ireland
*
* * * * * * * * * * * * * * * * * * * * * * * * *
*
*	style_lg.css
*	
*	Kevin Baumgartner
*
*/

/* Rotated Tablet Media Queries */
@media only screen and (min-width: 1023px) {

	/* Navigation Bar */
	#navbar-image{
		width: 5vw;
		height: auto;
		margin: 1%;
	}

	.navbar-toggler{
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	.nav-item{
		margin: 30px 15px 30px 15px;
	}

	.nav-link{
		margin: 0;
		padding: 0;
		border-bottom: 0px solid transparent;
	}

	/* Column Listings */
	.col-lg-12{
		margin-top: 4%;
	}
	
	/* Button CSS */
	.newBtn{
		width: 30%;
	  	height: 22vw;
	  	float: left;
	  	margin: 2% 0% 2% 2.45%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	/* Button Extra Styling */
	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 0.7em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 2em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 2vw;
	}

/* Desktop & Large Rotated Devices */
@media only screen and (min-width: 1365px) {

	/* Navigation Bar */
	#navbar-image{
		width: 4vw;
		height: auto;
		margin: 20%;
	}

	.navbar-toggler{
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	.nav-item{
		margin: 30px 10px 30px 30px;
		font-size: 1.5vw;
	}

	.nav-link{
		margin: 0;
		padding: 0;
		border-bottom: 0px solid transparent;
	}

	/* Bootstrap Column Listings */
	.col-lg-12{
		margin-top: 4%;
	}
	
	/* New Button Styling */
	.newBtn{
		width: 21.9%;
	  	height: 15vw;
	  	float: left;
	  	margin: 2% 0% 2% 2.45%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 0.5em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 1.2em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 1.4vw;
	}
}