/*
*	ArraysAtOne Capstone 2018 - Maple Leaf Foods
*
*	Kevin Baumgartner
*	Jesse Berube
*	Marc Harquail
*	Alex Ireland
*
* * * * * * * * * * * * * * * * * * * * * * * * *
*
*	style_md.css
*	
*	Kevin Baumgartner
*
*/

/* Tablet Media Queries */
@media only screen and (min-width: 767px) {

	/* Navigation Bar */
	#navbar-image{
		width: 8vw;
		height: auto;
		margin: 1%;
	}

	.navbar-toggler{
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	/* Bootstrap Column Listings */
	.col-lg-12{
		margin-top: 5%;
	}
	
	/* Button CSS */
	.newBtn{
		width: 45%;
	  	height: 33vw;
	  	float: left;
	  	margin: 4% 0% 4% 3.3%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	/* New Button Styling */
	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 1em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 2.5em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 2.8vw;
	}

	/* Slider */
	.slider {
	    -webkit-appearance: none;
	    width: 60%;
	    height: 15px;
	    border-radius: 5px;
	    background: #121212;
	    outline: none;
	    opacity: 0.7;
	    -webkit-transition: .2s;
	    transition: opacity .2s;
	    margin: 2% 20%;
	}

	.slider::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    appearance: none;
	    width: 5vw;
	    height: 5vw;
	    border-radius: 6px;
	    background: #A4B8D8;
	    cursor: pointer;
	}

	.slider::-moz-range-thumb {
	    width: 5vw;
	    height: 5vw;
	    border-radius: 6px;
	    background: #A4B8D8;
	    cursor: pointer;
	}

	.settingsHeader{
		text-align: center;
		font-size: 26px;
		color: #FAFAFA;
		padding: 0;
		margin: 2% 0%;
	}

	.settingsButton{
		border-radius: 6px;
		border: 0px solid transparent;
		background-color: #6C7F8E;
		color: #FAFAFA;
		font-size: 25px;
		margin: 0% auto 2% auto;
		padding: 2% 5%;
		cursor: pointer;
	}

	.settingsArea{
		text-align: center;
	}

	#successDiv{
		opacity: 0;
		text-align: center;
		margin: 0% 0% 2% 0%;
		padding: 0;
		color: #33cc33;
		font-size: 2.5vw;
		font-weight: bold;
	}

	#cabName{
		text-align: center;
	    background-color: transparent;
	    color: #FAFAFA;
	    font-size: 46px;
	    margin: 0% 0% 2% 0%;
	    padding: 0%;
	    border: 0px solid transparent;
	    font-weight: bold;
	    width: 100%;
	    border-radius: 6px;
	}

	#cabIn{
		border-radius: 6px;
		margin: 0% 0% 2% 0%;
		padding: 2%;
		width: 60%;
		border-style: hidden;
	}

	#cabEdit{
		text-align: center;
	}

	/* Slider Number Indicator */
	.tempNum {
		text-align: center;
		background-color: transparent;
		color: #FAFAFA;
		font-size: 46px;
		margin: 2% 0%;
		padding: 0%;
		border: 0px solid transparent;
		font-weight: bold;
		width: 100%;
		border-radius: 6px
	}

	/* Registrar Page Stylings */
	#registrarForm{
		text-align: center;
		margin: 6% 0% 0% 0%;
	}

	.registrarHeader{
		color: #FAFAFA;
		text-transform: uppercase;
		font-size: 26px;
		font-weight: bold;
		margin: 2% 0%;
		padding: 0;
	}

	.registrarLabel{
		color: #FAFAFA;
		font-size: 24px;
		margin: 0;
		padding: 0;
	}

	.formcontrol{
		border-radius: 6px;
		width: 60%;
		padding: 2%;
		margin: 1% 0% 4% 0%;
		border-style: hidden;
		font-size: 20px;
	}

	.registrarButton{
		border-radius: 6px;
	    border: 0px solid transparent;
	    background-color: #6C7F8E;
	    color: #FAFAFA;
	    font-size: 25px;
	    margin: 2% auto;
	    padding: 2% 5%;
	    cursor: pointer;
	}
}