/*
*	ArraysAtOne Capstone 2018 - Maple Leaf Foods
*
*	Kevin Baumgartner
*	Jesse Berube
*	Marc Harquail
*	Alex Ireland
*
* * * * * * * * * * * * * * * * * * * * * * * * *
*
*	style_lg.css
*	
*	Kevin Baumgartner
*
*/

/* Rotated Tablet Media Queries */
@media only screen and (min-width: 1023px) {

	/* Navigation Bar */
	#navbar-image{
		width: 5vw;
		height: auto;
		margin: 1%;
	}

	.navbar-toggler{
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	.nav-item{
		margin: 30px 15px 30px 15px;
	}

	.nav-link{
		margin: 0;
		padding: 0;
		border-bottom: 0px solid transparent;
	}

	/* Column Listings */
	.col-lg-12{
		margin-top: 4%;
	}
	
	/* Button CSS */
	.newBtn{
		width: 30%;
	  	height: 25vw;
	  	float: left;
	  	margin: 2% 0% 2% 2.45%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	/* New Button Styling */
	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 0.7em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 2em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 2vw;
	}


	/* Cabinet Page */
	.cabinetName{
		text-align: center;
		margin: 3% 0% 0% 0%;
		color: #FAFAFA;
		font-weight: bold;
		font-size: 30px;
		text-transform: uppercase;
	}

	.eventTable{
		margin: 3% 0%;
		/*margin: 0% 11.5% 5% 11.5%;
		border-collapse: collapse;
		border-radius: 6px;
		box-shadow: 0 0 0 1px transparent;
		table-layout: fixed !important;
		width: 100% !important;*/
		border-style: hidden;
	}

	.eventRow{
		border: 2px solid #8c9fad;
	}

	.eventHeader{
		text-align: center;
		font-weight: bold;
		color: #FAFAFA;
		border: 0px solid white;
		padding: 2%;
		width: 25%;
		background-color: #6C7F8E;
		border-radius: 0px;
		text-transform: uppercase;
		font-size: 20px;
	}

	.eventData{
		text-align: center;
		border: 0px solid white;
		color: #FAFAFA;
		padding: 2%;
	}

	.optBtns{
		margin-top: 0%;
	}

	.btnBox{
		text-align: center;
		margin: 0% 11.5% 3% 11.5%;
		padding: 2%;
		width: 5% !important;
		background-color: #6C7F8E;
		border-radius: 6px;
	}

	.btnBoxItem{
		width: 30%;
		margin: 0% 1%;
		padding: 2% 0%;
		color: #FAFAFA;
		font-size: 2em;
		border-radius: 6px;
		background-color: #8c9fad;
		border: 0px solid transparent;
	}

	.btnBox .colorUnsubbed{
		color: #FAFAFA !important;
	}

	#maxTemp, #minTemp{
		background-color: #6C7F8E;
		border-radius: 6px;
		margin: 0% 20% 3% 20%;
		padding: 2% 0% 2% 0%;
	}

	/* Data Text Edits */
	.temp{
		margin: 0% 0% 0% 0% !important;
		font-size: 2em !important;
		text-align: center;
		font-weight: bold;
		padding: 0;
	}

	.accel{
		color: #FAFAFA;
		margin-bottom: 3%;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
	}

	.hist{
		font-size: 200%;
		font-weight: bold;
		color: white;
	}

	.chart{
		margin-left: 10%;
		margin-right: 10%;
	}

	.histLbl{
		text-align: left;
		margin-left: 11.5%;
		font-size: 20px;
	}

	.histInfo{
		text-align: right;
		margin-right: 11.5%;
		font-size: 20px;
	}

	.disclaim{
		font-size: 15px;
		margin-bottom: 3%;
		font-weight: bold;
		color: white;
	}

	.btnBox{
		text-align: center;
		padding: 1%;
		margin: 0% 0%;
		width: 5% !important;
		background-color: #6C7F8E;
		border-radius: 6px;
	}

	.btnBoxItem{
		width: 24%;
		margin: 2% 2%;
		padding: 2% 0%;
		color: #FAFAFA;
		font-size: 1.5em;
		border-radius: 6px;
		background-color: #8c9fad;
		border: 0px solid transparent;
	}

	.btnBox .colorUnsubbed{
		color: #FAFAFA !important;
	}

	/* Trends Page Date Selectors */
	.datePicker{
		border-radius: 6px;
		margin: 2% 0%;
		padding: 3%;
		border: 0px solid transparent;
		font-size: 20px;
		width: 100%;
	}

	.datePickerTitle{
		text-align: center;
		margin: 2% 0%;
		padding: 0;
		color: #FAFAFA;
		font-weight: bold;
		font-size: 30px;
		text-transform: uppercase;
	}

	.betweenPicker{
		margin: 4% 0%;
	}

	.betweenPicker table tr td{
		padding: 0% 4% 0% 0%;
		margin: 0;
		text-align: center;
	}

	.submitArea{
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 1% 0%;
	}

	.datePickerButton{
		border-radius: 6px;
		border: 0px solid transparent;
		background-color: #6C7F8E;
		color: #FAFAFA;
		font-size: 20px;
		margin: auto;
		padding: 1% 4%;
		cursor: pointer;
	}

	#recTemp, #recMov{
		margin: 3% 5%;
		width: 1% !important;
		height: 400px !important;
	}

}

/* Desktop & Large Rotated Devices */
@media only screen and (min-width: 1365px) {

	/* Navigation Bar */
	#navbar-image{
		width: 4vw;
		height: auto;
		margin: 20%;
	}

	.navbar-toggler{
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	.nav-item{
		margin: 30px 10px 30px 30px;
		font-size: 1.5vw;
	}

	.nav-link{
		margin: 0;
		padding: 0;
		border-bottom: 0px solid transparent;
	}

	/* Bootstrap Column Listings */
	.col-lg-12{
		margin-top: 4%;
	}
	
	/* New Button Styling */
	.newBtn{
		width: 21.9%;
	  	height: 16.5vw;
	  	float: left;
	  	margin: 2% 0% 2% 2.45%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 0.5em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 1.2em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 1.4vw;
	}

	/* Cabinet Page */
	.cabinetName{
		text-align: center;
		margin: 5% 0% 0% 0%;
		color: #FAFAFA;
		font-weight: bold;
		font-size: 30px;
		text-transform: uppercase;
	}

	.eventTable{
		margin: 3% 0%;
		/*margin: 0% 11.5% 5% 11.5%;
		border-collapse: collapse;
		border-radius: 6px;
		box-shadow: 0 0 0 1px transparent;
		table-layout: fixed !important;
		width: 100% !important;*/
		border-style: hidden;
	}

	.eventRow{
		border: 2px solid #8c9fad;
	}

	.eventHeader{
		text-align: center;
		font-weight: bold;
		color: #FAFAFA;
		border: 0px solid white;
		padding: 2%;
		width: 25%;
		background-color: #6C7F8E;
		border-radius: 0px;
		text-transform: uppercase;
		font-size: 20px;
	}

	.eventData{
		text-align: center;
		border: 0px solid white;
		color: #FAFAFA;
		padding: 2%;
	}

	.optBtns{
		margin-top: 0%;
	}

	.btnBox{
		text-align: center;
		margin: 0% 11.5% 3% 11.5%;
		padding: 2%;
		width: 5% !important;
		background-color: #6C7F8E;
		border-radius: 6px;
	}

	.btnBoxItem{
		width: 30%;
		margin: 0% 1%;
		padding: 2% 0%;
		color: #FAFAFA;
		font-size: 2em;
		border-radius: 6px;
		background-color: #8c9fad;
		border: 0px solid transparent;
	}

	.btnBox .colorUnsubbed{
		color: #FAFAFA !important;
	}

	#maxTemp, #minTemp{
		background-color: #6C7F8E;
		border-radius: 6px;
		margin: 0% 40% 1% 40%;
		width: 20%;
		padding: 1% 0% 1% 0%;
	}

	/* Data Text Edits */
	.temp{
		margin: 0% 0% 0% 0% !important;
		font-size: 2.3em !important;
		text-align: center;
		font-weight: bold;
		padding: 0;
	}

	.accel{
		color: #FAFAFA;
		margin-bottom: 3%;
		font-size: 1.8em;
		text-align: center;
		font-weight: bold;
	}

	.hist{
		font-size: 200%;
		font-weight: bold;
		color: white;
	}

	.chart{
		margin-left: 10%;
		margin-right: 10%;
	}

	.histLbl{
		text-align: right;
		margin-left: 0%;
		margin-right: 4%;
		font-size: 22px;
	}

	.histInfo{
		text-align: left;
		margin-right: 0%;
		margin-left: 4%;
		font-size: 22px;
	}

	.disclaim{
		font-size: 15px;
		margin-bottom: 1%;
		font-weight: bold;
		color: white;
		text-align: center;
		margin-left: 9%;
	}

	#time{
		margin-right: -2%;
	}

	.btnBox{
		text-align: center;
		padding: 0.5%;
		margin: 0% 30%;
		width: 5% !important;
		background-color: #6C7F8E;
		border-radius: 6px;
	}

	.btnBoxItem{
		width: 24%;
		margin: 1% 1%;
		padding: 1% 0%;
		color: #FAFAFA;
		font-size: 1.2em;
		border-radius: 6px;
		background-color: #8c9fad;
		border: 0px solid transparent;
	}

	.btnBox .colorUnsubbed{
		color: #FAFAFA !important;
	}

	/* Trends Page Date Selectors */
	.datePicker{
		border-radius: 6px;
		margin: 2% 0% 2% 6%;
		padding: 1%;
		border: 0px solid transparent;
		font-size: 22px;
		width: 60%;
		float: left;
	}

	.datePickerTitle{
		text-align: right;
		margin: 2% 0%;
		padding: 0% 0% 0% 0%;
		color: #FAFAFA;
		font-weight: bold;
		font-size: 26px;
		text-transform: uppercase;
	}

	.betweenPicker{
		margin: 2% 0%;
	}

	.betweenPicker table tr td{
		padding: 0% 0% 0% 0%;
		margin: 0;
		text-align: center;
	}

	.submitArea{
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0% 0% 0% 1%;
	}

	.datePickerButton{
		border-radius: 6px;
		border: 0px solid transparent;
		background-color: #6C7F8E;
		color: #FAFAFA;
		font-size: 20px;
		margin: auto;
		padding: 1% 2%;
		cursor: pointer;
	}

	#recTemp, #recMov{
		margin: 2% 8%;
		width: 1% !important;
		height: 500px !important;
	}
}