/*
*	ArraysAtOne Capstone 2018 - Maple Leaf Foods
*
*	Kevin Baumgartner
*	Jesse Berube
*	Marc Harquail
*	Alex Ireland
*
*/

/* Mobile Phones Media Queries */
@media only screen and (min-width: 319px) and (max-width: 430px) {

	/* Navigation Bar */
	#navbar-image{
		width: 12vw;
		height: auto;
		margin: 1%;
	}

	.navbar-toggler{
		font-size: 5vw;
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	/* Column Listings */
	.col-lg-12{
		margin-top: 3%;
	}

	/* Button Styling */
	.newBtn{
		width: 90%;
	  	height: 50vw;
	  	float: left;
	  	margin: 4% 5% 4% 5%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	/* Button Extra Styling */
	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 4em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 5vw;
	}
}