/*
*	ArraysAtOne Capstone 2018 - Maple Leaf Foods
*
*	Kevin Baumgartner
*	Jesse Berube
*	Marc Harquail
*	Alex Ireland
*
*/

/* Tablet Media Queries */
@media only screen and (min-width: 767px) {

	/* Navigation Bar */
	#navbar-image{
		width: 8vw;
		height: auto;
		margin: 1%;
	}

	.navbar-toggler{
		background-color: #4D5C68 !important;
		margin: 1%;
	}

	/* Column Listings */
	.col-lg-12{
		margin-top: 5%;
	}
	
	/* Button CSS */
	.newBtn{
		width: 45%;
	  	height: 30vw;
	  	float: left;
	  	margin: 4% 0% 4% 3.3%;
	  	border-radius: 6px;
	  	font-size: 3vw;
	  	border: 0px solid transparent;
	}

	/* Button Extra Styling */
	.newBtnTitle{
		margin: 0;
		padding: 0;
		font-size: 1em;
		text-transform: uppercase;
		text-align: left;
	}

	.newBtnDisplay{
		margin: 0;
		padding-top: 0px;
		font-size: 2.5em;
		width: 100%;
		height: auto;
		display: inline-block;
	}

	.newBtn table{
		margin: 0;
		padding: 0;
		font-size: 2.8vw;
	}
}