html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.temp{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 200%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}
.accel{
	margin-bottom: 5%;
	font-size: 150%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}
.hist{
	font-size: 200%;
	margin-bottom: 5%;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}
.chart{
	margin-left: 10%;
	margin-right: 10%;
}
.disclaim{
	font-size: 100%;
	margin-bottom: 5%;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}
.histLbl{
	text-align: left;
	margin-left: 10%;
}
.histInfo{
	text-align: right;
	margin-right: 10%;
}
.cabinet{
	font-size: 400%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}
.textNav{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}
.textRed{
	color: rgb(241,99,100);
}
.textGrn{
	color: rgb(90,213,102);
}
.textGry{
	color: rgb(90, 90, 90);
}
#myBack{
	background-color: rgb(43,44,45);
}
.btn-sq-rd {
  width: 170px !important;
  height: 170px !important;
  padding: 40px !important;
  padding-top: 55px !important;
  background-color: rgb(241,99,100) !important;
  border: rgb(241,99,100) !important;
  font-weight: bold !important;
  margin: 4% !important;
}
.btn-sq-yl {
  width: 170px !important;
  height: 170px !important;
  padding: 40px !important;
  padding-top: 55px !important;
  background-color: rgb(255,252,113) !important;
  border: rgb(255,252,113) !important;
  color: rgb(0,0,0) !important;
  font-weight: bold !important;
  margin: 4% !important;
}
.btn-sq-nm {
  width: 170px !important;
  height: 170px !important;
  padding: 40px !important;
  padding-top: 55px !important;
  background-color: rgb(60,61,65) !important;
  border: rgb(60,61,65) !important;
  font-weight: bold !important;
  margin: 4% !important;
}